.Theme1 {
  width: 100%;
  margin-top: 2%;
  border: 2px solid #98facc;
  height: 100%;
  margin: 2%;
}
.personal-info header {
  width: 100%;
  text-align: center;
}
.heading {
  font-size: 30px;
  font-weight: bold;
}
.userContact {
  font-size: 15px;
}
.userContact span {
  color: rgb(152, 152, 153);
}
.profile {
  font-size: 20px;
  margin-top: 10px;
}
.skills header {
  background-color: #98facc;
  font-size: 22px;
  margin: 10px;
}
.education,
.skills,
.projects {
  margin: 20px;
}
.education header {
  background-color: #98facc;
  margin: 10px;
  font-size: 22px;
}
.projects header {
  background-color: #98facc;
  margin: 10px;
  font-size: 22px;
}
.basic-set {
  margin: 0rem 2rem;
  padding-top: 10px;
}

.subBox {
  margin-bottom: 15px;
}

.sub-details {
  padding: 0px 10px;
}

.sub-title {
  font-size: 1.1rem;
  font-weight: 600;
}

@media only screen and (max-width: 450px) {
  .basic-set {
    margin: 0rem 1rem;
  }
}
