.container {
  background-color: #fe4a5a;
  padding: 100px 10px;
}

.heading {
  /* position: static; */
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading p {
  z-index: 1000;
  width: 60rem;
  font-size: 60px;
  color: white;
  font-weight: bold;
  /* padding: 0px 20px; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (max-width: 554px) {
  .heading p {
    font-size: 46px;
  }
}
