@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fcfcfc;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a {
  color: white;
}
.logo p {
  color: white;
  margin-left: 12%;
  font-size: 1.5rem;
}
.container1 {
  width: 100vw;
  padding: 0 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
}

.navbar {
  width: 100%;
  padding: 80px 0px;
  background-color: rgb(11, 206, 178);
  /* position: relative; */
}

.menu-icon {
  display: none;
}
.nav-elements {
  margin-right: 1%;
}
.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}
.nav-elements ul li a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-elements ul li a:hover {
  color: black;
}

.nav-elements ul a.active {
  color: blue;
  font-weight: 500;
  position: relative;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
}
.heading {
  /* position: static; */
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading p {
  /* width: 60rem; */
  font-size: 60px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (max-width: 554px) {
  .heading p {
    font-size: 40px;
  }
}

@media screen and (max-width: 839px) {
  .logo {
    margin-left: 2rem;
  }
  .nav-elements ul a {
    font-size: 14px;
  }
}
@media screen and (max-width: 825px) {
  .nav-elements ul li a {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    background-color: #47f5ac;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    border-radius: 10px;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    /* margin-right: unset; */
    margin-top: 22px;
  }
}
