.resume-steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  padding: 100px 100px;
}

.step {
  width: 25%;
  margin-bottom: 10px;
  text-align: center;
}

.step img {
  width: 80%;
  aspect-ratio: 1;
  object-fit: fill;
  margin: 0 auto;
}

.step h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.step p {
  font-size: 14px;
  margin-bottom: 0;
}
.dotted {
  stroke-dasharray: 4, 4;
  stroke: #999999;
}
.svg {
  position: relative;
  left: 50%;
}
@media screen and (max-width: 768px) {
  .step p {
    font-size: 12px;
  }
  .step h3 {
    font-size: 15px;
  }
  .svg {
    margin-left: -30%;
  }
  .resume-steps {
    padding: 100px 20px;
  }
}
@media screen and (max-width: 425px) {
  .step p {
    font-size: 10px;
  }
  .step h3 {
    font-size: 12px;
  }
  .svg {
    margin-left: -50%;
  }
  .resume-steps {
    width: 120%;
  }
}
